<div class="flex justify-center mt-4">
  <table class="table-auto w-[1000px]">
    <thead>
      <tr class="bg-slate-100">
        <th class="border border-slate-300 rounded">ID</th>
        <th class="border border-slate-300">Title</th>
        <th class="border border-slate-300">Body</th>
        <th class="border border-slate-300 rounded">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-xs text-center">
        <!-- <td class="mx-8 px-8 py-4 border border-slate-300">{{post.id}}</td>
        <td class="mx-8 px-8 py-4 border border-slate-300">{{post.title}}</td>
        <td class="mx-8 px-8 py-4 border border-slate-300">{{post.body}}</td> -->
        <td class="mx-8 px-8 py-4 border border-slate-300">
          <div class="flex">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
